<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="identity" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity.SqlServer;Integrated Security=True;Pooling=False;Connect Timeout=30;Asynchronous Processing=true"/>
  </connectionStrings>
</configuration>